@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*============VARIABLES=============*/

:root {
  --primary-color: #82b440;
  --primary-color-dark: #669933;
  --text-dark: #333333;
  --text-light: #767268;
  --white-color: #ffffff;
  --brown-color: #f3e5d2;
  --header-font: "Dancing Script", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}


.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}
